div {
  color: green;
}
.text {
  color: darkgreen;
}
.sentens-red {
  color: crimson;
}
.mark {
  color: darkmagenta;
}
.sentens-p {
  color: mediumseagreen;
}
.color {
  color: blueviolet;
}

.letter {
  color: red;
}
.september {
  color: darkgoldenrod;
}
#top6 {
  color: blue;
}
